

.open-sans-<uniquifier> {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.text-primary{
    color: #FD6E0A;
}
/* sharfed style */
.secondary-bg{
    background-color: #fff8f3;
}

.dark-2{
    color: #474747;
}
/* nav style */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}

.banner-content{
    max-width: 580px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

nav ul{
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.section-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
}

nav ul li{
    list-style: none;
    font-size: 20;
    margin-right: 50px;
}
/* banner style */
.banner-greetings{
    font-size: 45PX;
    font-weight: 600;
}

.banner-title{
    font-weight: bold;
    font-size: 85px;
}

.banner-profile-pick{
    width: 580px;
}

.header{
    background-image: url(/images/developer.png) , url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-description{
    font-weight: 60px 0px;
}
.text-center{
    text-align: center;
}

.skill-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgb(0, 0, 0, 0.06);
}

.resume-conteiner{
    display: flex;
    gap: 24px;
}

.experiance-description{
    color:violet;
}

.experiance-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20PX;
    color: #757575;
}
.btn{
    padding: 100px;
}